In [1]:
import pandas as pd
import nltk
from nltk.corpus import wordnet
from nltk.sentiment import SentimentIntensityAnalyzer

In [2]:
df = pd.read_csv(r'Downloads/MQD_EN_1.csv', names = ['Text'], sep = '|', dtype = str, encoding='utf-8')
df.head()

                                                Text
0  Hello dear diary, once again I am here felling...
1  It's wonderful knowing that each day that goes...
2  In life we need to rely on the support the per...
3        I am very happy and I hope you are as well.
4  In order to celebrate we ordered pizza, and I ...

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/ericacarneiro/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
#Library needed


import nltk, re, pprint
from nltk import word_tokenize
import io

In [5]:
from nltk.corpus import stopwords
import string

In [6]:
corpus = df["Text"]

In [7]:
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.text import Text

In [8]:
clean_corpus = corpus.apply(lambda corpus: corpus.lower())

In [9]:
clean_corpus = clean_corpus.apply(lambda corpus: re.sub('[0-9]|,|\.|/|$|\(|\)|-|\+|:|â€¢', ' ', corpus))
#clean_corpus = clean_corpus.apply(lambda corpus: unidecode(corpus))

In [10]:
print(clean_corpus)

0       hello dear diary  once again i am here felling...
1       it's wonderful knowing that each day that goes...
2       in life we need to rely on the support the per...
3            i am very happy and i hope you are as well
4       in order to celebrate we ordered pizza  and i ...
                              ...
1460        currently i'm in a homossexual relationship
1461    today i started the day talking to gabriel  th...
1462    but he is beautiful  that smile  the way he sp...
1463    i sent an email to my "colleague" last wednesd...
1464    i don't want you to judge me  curse me or anyt...
Name: Text, Length: 1465, dtype: object

In [11]:
type(clean_corpus)

pandas.core.series.Series

In [12]:
pip install vaderSentiment

Keyring is skipped due to an exception: 'str' object has no attribute 'name'
Requirement already satisfied: vaderSentiment in ./opt/anaconda3/lib/python3.9/site-packages (3.3.2)
Requirement already satisfied: requests in ./opt/anaconda3/lib/python3.9/site-packages (from vaderSentiment) (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (2022.12.7)
Note: you may need to restart the kernel to use updated packages.

In [13]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [14]:
def sentiment_vader(sentence):

    # Create a SentimentIntensityAnalyzer object.
    sid_obj = SentimentIntensityAnalyzer()
    

    sentiment_dict = sid_obj.polarity_scores(sentence)
    negative = sentiment_dict['neg']
    neutral = sentiment_dict['neu']
    positive = sentiment_dict['pos']
    compound = sentiment_dict['compound']

    if sentiment_dict['compound'] >= 0.05 :
        overall_sentiment = "Positive"

    elif sentiment_dict['compound'] <= - 0.05 :
        overall_sentiment = "Negative"

    else :
        overall_sentiment = "Neutral"
  
    return negative, neutral, positive, compound, overall_sentiment

In [15]:
sent= sentiment_vader(clean_corpus)

In [16]:
print(sent)

(0.109, 0.703, 0.189, 1.0, 'Positive')

In [17]:
clean_corpus.apply(sentiment_vader)

0       (0.278, 0.507, 0.215, -0.3595, Negative)
1          (0.0, 0.791, 0.209, 0.5719, Positive)
2          (0.0, 0.776, 0.224, 0.5994, Positive)
3          (0.0, 0.471, 0.529, 0.8399, Positive)
4            (0.0, 0.85, 0.15, 0.5719, Positive)
                          ...
1460               (0.0, 1.0, 0.0, 0.0, Neutral)
1461       (0.0, 0.905, 0.095, 0.3182, Positive)
1462       (0.0, 0.463, 0.537, 0.9423, Positive)
1463               (0.0, 1.0, 0.0, 0.0, Neutral)
1464    (0.202, 0.645, 0.153, -0.2991, Negative)
Name: Text, Length: 1465, dtype: object

In [18]:
sent =  clean_corpus.apply(sentiment_vader)

In [19]:
print(sent)

0       (0.278, 0.507, 0.215, -0.3595, Negative)
1          (0.0, 0.791, 0.209, 0.5719, Positive)
2          (0.0, 0.776, 0.224, 0.5994, Positive)
3          (0.0, 0.471, 0.529, 0.8399, Positive)
4            (0.0, 0.85, 0.15, 0.5719, Positive)
                          ...
1460               (0.0, 1.0, 0.0, 0.0, Neutral)
1461       (0.0, 0.905, 0.095, 0.3182, Positive)
1462       (0.0, 0.463, 0.537, 0.9423, Positive)
1463               (0.0, 1.0, 0.0, 0.0, Neutral)
1464    (0.202, 0.645, 0.153, -0.2991, Negative)
Name: Text, Length: 1465, dtype: object

In [20]:
type(sent)

pandas.core.series.Series

In [21]:
#Concatena dois dataframes em um terceiro, novo dataframe
sent_vader = pd.concat([sent, clean_corpus], axis=1)

sent_vader

,Text,Text
0,"(0.278, 0.507, 0.215, -0.3595, Negative)",hello dear diary once again i am here felling...
1,"(0.0, 0.791, 0.209, 0.5719, Positive)",it's wonderful knowing that each day that goes...
2,"(0.0, 0.776, 0.224, 0.5994, Positive)",in life we need to rely on the support the per...
3,"(0.0, 0.471, 0.529, 0.8399, Positive)",i am very happy and i hope you are as well
4,"(0.0, 0.85, 0.15, 0.5719, Positive)",in order to celebrate we ordered pizza and i ...
...,...,...
1460,"(0.0, 1.0, 0.0, 0.0, Neutral)",currently i'm in a homossexual relationship
1461,"(0.0, 0.905, 0.095, 0.3182, Positive)",today i started the day talking to gabriel th...
1462,"(0.0, 0.463, 0.537, 0.9423, Positive)",but he is beautiful that smile the way he sp...
1463,"(0.0, 1.0, 0.0, 0.0, Neutral)","i sent an email to my ""colleague"" last wednesd..."
1464,"(0.202, 0.645, 0.153, -0.2991, Negative)",i don't want you to judge me curse me or anyt...

In [22]:
vader_emo1 = sent_vader.to_csv("vader_emo1.csv")