In [1]:
import pandas as pd
import nltk
from nltk.corpus import wordnet
from nltk.sentiment import SentimentIntensityAnalyzer

In [3]:
df = pd.read_csv(r'Downloads/MQD_EN_4_b.csv', names = ['Text'], sep = '|', dtype = str, encoding='utf-8')
df.head()

                                                Text
0  Hi dear diary, here I am again feeling like sh...
1  It's worderful to know that each day we're bon...
2  In life we must count with the support from th...
3             I'm very happy and I hope you are too.
4  We ordered pizza to celebrate, and I wrote a l...

In [4]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/ericacarneiro/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [5]:
#Library needed


import nltk, re, pprint
from nltk import word_tokenize
import io

In [6]:
from nltk.corpus import stopwords
import string

In [7]:
corpus = df["Text"]

In [8]:
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.text import Text

In [9]:
clean_corpus = corpus.apply(lambda corpus: corpus.lower())

In [10]:
clean_corpus = clean_corpus.apply(lambda corpus: re.sub('[0-9]|,|\.|/|$|\(|\)|-|\+|:|â€¢', ' ', corpus))
#clean_corpus = clean_corpus.apply(lambda corpus: unidecode(corpus))

In [11]:
print(clean_corpus)

0       hi dear diary  here i am again feeling like sh...
1       it's worderful to know that each day we're bon...
2       in life we must count with the support from th...
3                 i'm very happy and i hope you are too
4       we ordered pizza to celebrate  and i wrote a l...
                              ...
1460        currently i'm in a homossexual relationship
1461    today i started the day talking with gabriel  ...
1462    but he is beautiful  that smile  the way that ...
1463    i've sent an email to my "colleague" on last w...
1464    i don't want them to jugde me  curse me or any...
Name: Text, Length: 1465, dtype: object

In [12]:
type(clean_corpus)

pandas.core.series.Series

In [13]:
pip install vaderSentiment

Requirement already satisfied: vaderSentiment in ./opt/anaconda3/lib/python3.9/site-packages (3.3.2)
Requirement already satisfied: requests in ./opt/anaconda3/lib/python3.9/site-packages (from vaderSentiment) (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (1.26.7)
Note: you may need to restart the kernel to use updated packages.

In [14]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [15]:
def sentiment_vader(sentence):

    # Create a SentimentIntensityAnalyzer object.
    sid_obj = SentimentIntensityAnalyzer()
    

    sentiment_dict = sid_obj.polarity_scores(sentence)
    negative = sentiment_dict['neg']
    neutral = sentiment_dict['neu']
    positive = sentiment_dict['pos']
    compound = sentiment_dict['compound']

    if sentiment_dict['compound'] >= 0.05 :
        overall_sentiment = "Positive"

    elif sentiment_dict['compound'] <= - 0.05 :
        overall_sentiment = "Negative"

    else :
        overall_sentiment = "Neutral"
  
    return negative, neutral, positive, compound, overall_sentiment

In [16]:
sent= sentiment_vader(clean_corpus)

In [17]:
print(sent)

(0.108, 0.704, 0.188, 1.0, 'Positive')

In [18]:
clean_corpus.apply(sentiment_vader)

0       (0.272, 0.431, 0.297, -0.2481, Negative)
1                  (0.0, 1.0, 0.0, 0.0, Neutral)
2          (0.0, 0.876, 0.124, 0.4019, Positive)
3          (0.0, 0.504, 0.496, 0.7841, Positive)
4            (0.0, 0.81, 0.19, 0.6114, Positive)
                          ...
1460               (0.0, 1.0, 0.0, 0.0, Neutral)
1461      (0.111, 0.889, 0.0, -0.3612, Negative)
1462        (0.0, 0.499, 0.501, 0.933, Positive)
1463               (0.0, 1.0, 0.0, 0.0, Neutral)
1464    (0.202, 0.645, 0.153, -0.2991, Negative)
Name: Text, Length: 1465, dtype: object

In [19]:
sent =  clean_corpus.apply(sentiment_vader)

In [20]:
print(sent)

0       (0.272, 0.431, 0.297, -0.2481, Negative)
1                  (0.0, 1.0, 0.0, 0.0, Neutral)
2          (0.0, 0.876, 0.124, 0.4019, Positive)
3          (0.0, 0.504, 0.496, 0.7841, Positive)
4            (0.0, 0.81, 0.19, 0.6114, Positive)
                          ...
1460               (0.0, 1.0, 0.0, 0.0, Neutral)
1461      (0.111, 0.889, 0.0, -0.3612, Negative)
1462        (0.0, 0.499, 0.501, 0.933, Positive)
1463               (0.0, 1.0, 0.0, 0.0, Neutral)
1464    (0.202, 0.645, 0.153, -0.2991, Negative)
Name: Text, Length: 1465, dtype: object

In [21]:
type(sent)

pandas.core.series.Series

In [22]:
#Concatena dois dataframes em um terceiro, novo dataframe
sent_vader = pd.concat([sent, clean_corpus], axis=1)

sent_vader

,Text,Text
0,"(0.272, 0.431, 0.297, -0.2481, Negative)",hi dear diary here i am again feeling like sh...
1,"(0.0, 1.0, 0.0, 0.0, Neutral)",it's worderful to know that each day we're bon...
2,"(0.0, 0.876, 0.124, 0.4019, Positive)",in life we must count with the support from th...
3,"(0.0, 0.504, 0.496, 0.7841, Positive)",i'm very happy and i hope you are too
4,"(0.0, 0.81, 0.19, 0.6114, Positive)",we ordered pizza to celebrate and i wrote a l...
...,...,...
1460,"(0.0, 1.0, 0.0, 0.0, Neutral)",currently i'm in a homossexual relationship
1461,"(0.111, 0.889, 0.0, -0.3612, Negative)",today i started the day talking with gabriel ...
1462,"(0.0, 0.499, 0.501, 0.933, Positive)",but he is beautiful that smile the way that ...
1463,"(0.0, 1.0, 0.0, 0.0, Neutral)","i've sent an email to my ""colleague"" on last w..."
1464,"(0.202, 0.645, 0.153, -0.2991, Negative)",i don't want them to jugde me curse me or any...

In [23]:
vader_emo4 = sent_vader.to_csv("vader_emo4.csv")