In [1]:
import pandas as pd
import nltk
from nltk.corpus import wordnet
from nltk.sentiment import SentimentIntensityAnalyzer

In [3]:
df = pd.read_csv(r'Downloads/emo_liwc_mqd_google_trans_nolabel.csv', names = ['Text'], sep = '|', dtype = str, encoding='utf-8')
df.head()

                                                Text
0  ,Text,clean_text,tokens,family,posemo,negemo,e...
1  0,"Hi dear diary, once again I'm sitting here ...
2  1,It's wonderful to know that every day we are...
3  2,In life we ââneed to count on the suppor...
4  3,I'm very happy and I hope you are too.,i m v...

In [4]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/ericacarneiro/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [5]:
#Library needed


import nltk, re, pprint
from nltk import word_tokenize
import io

In [6]:
from nltk.corpus import stopwords
import string

In [7]:
corpus = df["Text"]

In [8]:
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.text import Text

In [9]:
clean_corpus = corpus.apply(lambda corpus: corpus.lower())

In [10]:
clean_corpus = clean_corpus.apply(lambda corpus: re.sub('[0-9]|,|\.|/|$|\(|\)|-|\+|:|•', ' ', corpus))
#clean_corpus = clean_corpus.apply(lambda corpus: unidecode(corpus))

In [11]:
print(clean_corpus)

0        text clean_text tokens family posemo negemo e...
1         "hi dear diary  once again i'm sitting here ...
2         it's wonderful to know that every day we are...
3         in life we ââneed to count on the suppor...
4         i'm very happy and i hope you are too  i m v...
                              ...
1461         i am currently in a homosexual relationsh...
1462         "today i started the day talking to gabri...
1463         "but he's handsome  that smile  the way h...
1464         "i sent an email to my ""colleague"" last...
1465         "i don't want you to judge me  curse me o...
Name: Text, Length: 1466, dtype: object

In [12]:
type(clean_corpus)

pandas.core.series.Series

In [13]:
pip install vaderSentiment

Requirement already satisfied: vaderSentiment in ./opt/anaconda3/lib/python3.9/site-packages (3.3.2)
Requirement already satisfied: requests in ./opt/anaconda3/lib/python3.9/site-packages (from vaderSentiment) (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.9/site-packages (from requests->vaderSentiment) (2022.12.7)
Note: you may need to restart the kernel to use updated packages.

In [14]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [15]:
def sentiment_vader(sentence):

    # Create a SentimentIntensityAnalyzer object.
    sid_obj = SentimentIntensityAnalyzer()
    

    sentiment_dict = sid_obj.polarity_scores(sentence)
    negative = sentiment_dict['neg']
    neutral = sentiment_dict['neu']
    positive = sentiment_dict['pos']
    compound = sentiment_dict['compound']

    if sentiment_dict['compound'] >= 0.05 :
        overall_sentiment = "Positive"

    elif sentiment_dict['compound'] <= - 0.05 :
        overall_sentiment = "Negative"

    else :
        overall_sentiment = "Neutral"
  
    return negative, neutral, positive, compound, overall_sentiment

In [16]:
sent= sentiment_vader(clean_corpus)

In [17]:
print(sent)

(0.108, 0.702, 0.19, 1.0, 'Positive')

In [18]:
clean_corpus.apply(sentiment_vader)

0                  (0.0, 1.0, 0.0, 0.0, Neutral)
1       (0.235, 0.519, 0.246, -0.5411, Negative)
2          (0.0, 0.767, 0.233, 0.9453, Positive)
3           (0.0, 0.766, 0.234, 0.946, Positive)
4          (0.0, 0.569, 0.431, 0.9758, Positive)
                          ...
1461               (0.0, 1.0, 0.0, 0.0, Neutral)
1462       (0.0, 0.913, 0.087, 0.7096, Positive)
1463       (0.0, 0.516, 0.484, 0.9928, Positive)
1464               (0.0, 1.0, 0.0, 0.0, Neutral)
1465    (0.177, 0.665, 0.158, -0.7727, Negative)
Name: Text, Length: 1466, dtype: object

In [19]:
sent =  clean_corpus.apply(sentiment_vader)

In [20]:
print(sent)

0                  (0.0, 1.0, 0.0, 0.0, Neutral)
1       (0.235, 0.519, 0.246, -0.5411, Negative)
2          (0.0, 0.767, 0.233, 0.9453, Positive)
3           (0.0, 0.766, 0.234, 0.946, Positive)
4          (0.0, 0.569, 0.431, 0.9758, Positive)
                          ...
1461               (0.0, 1.0, 0.0, 0.0, Neutral)
1462       (0.0, 0.913, 0.087, 0.7096, Positive)
1463       (0.0, 0.516, 0.484, 0.9928, Positive)
1464               (0.0, 1.0, 0.0, 0.0, Neutral)
1465    (0.177, 0.665, 0.158, -0.7727, Negative)
Name: Text, Length: 1466, dtype: object

In [21]:
type(sent)

pandas.core.series.Series

In [22]:
#Concatena dois dataframes em um terceiro, novo dataframe
sent_vader = pd.concat([sent, clean_corpus], axis=1)

sent_vader

,Text,Text
0,"(0.0, 1.0, 0.0, 0.0, Neutral)",text clean_text tokens family posemo negemo e...
1,"(0.235, 0.519, 0.246, -0.5411, Negative)","""hi dear diary once again i'm sitting here ..."
2,"(0.0, 0.767, 0.233, 0.9453, Positive)",it's wonderful to know that every day we are...
3,"(0.0, 0.766, 0.234, 0.946, Positive)",in life we ââneed to count on the suppor...
4,"(0.0, 0.569, 0.431, 0.9758, Positive)",i'm very happy and i hope you are too i m v...
...,...,...
1461,"(0.0, 1.0, 0.0, 0.0, Neutral)",i am currently in a homosexual relationsh...
1462,"(0.0, 0.913, 0.087, 0.7096, Positive)","""today i started the day talking to gabri..."
1463,"(0.0, 0.516, 0.484, 0.9928, Positive)","""but he's handsome that smile the way h..."
1464,"(0.0, 1.0, 0.0, 0.0, Neutral)","""i sent an email to my """"colleague"""" last..."
1465,"(0.177, 0.665, 0.158, -0.7727, Negative)","""i don't want you to judge me curse me o..."

In [23]:
vader_google_trans = sent_vader.to_csv("vader_google_trans.csv")